In [ ]:
from google.colab import drive
drive.mount('/content/drive')
%cd '/content/drive/MyDrive/Thesis_work/ML_experiments'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/MyDrive/Thesis_work/ML_experiments

#Loading libraries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

#Load the dataset

In [ ]:
data = pd.read_csv('final_dataset_reviews_clean.csv')
# data.drop(columns=['Unnamed: 0'], inplace = True)
data.head(2)

,Product_ID,Customer_Name,Customer_ID,Date,Rating,Label,Reviews,Sentiment,Features,length,...,content_similarity,ext_score,IRS_score,ARD_Score,RD_Score,Reviews_clean,Sentiment_class,length_clean,words_clean,pid_encoded
0,TE111EL1,itzmr7,6702,2019-11-09,1,0,mil gya hai acha hai aur toota howa b nai hai,Positive,['toota'],45,...,0.051918,0,1,-2.000000,-2.000000,acha tota howa nahi,1.0,19,4,539
1,MI543EL0,Afridi,396,2016-11-21,5,0,aram sy pocket may aa jta hai aur quality b ac...,Positive,"['aram', 'pocket', 'quality']",52,...,0.035987,1,1,0.466667,0.466667,aram pocket jta quality achi,1.0,28,5,336

#TRain and test data

In [ ]:
spam_true = data[data['Label']==1]
spam_true=sklearn.utils.shuffle(spam_true, random_state=10)
print(spam_true.shape)
test_true = spam_true[:50]
train_true=spam_true[50:]
spam_false = data[data['Label']==0]
print(spam_false.shape)
spam_false=sklearn.utils.shuffle(spam_false, random_state=10)
test_false = spam_false[:50]
train_false=spam_false[50:]
train_data = pd.concat([train_true,train_false], ignore_index=True, sort=False)
train_data.to_csv('clean_train'+'.csv', index=False)
test_data = pd.concat([test_true,test_false],ignore_index=True, sort=False)
test_data.to_csv('clean_test'+'.csv', index=False)

(530, 23)
(3393, 23)

In [ ]:
df_train=pd.read_csv('clean_train.csv');
df_test=pd.read_csv('clean_test.csv');

In [ ]:
df_train.head(2)

,Product_ID,Customer_Name,Customer_ID,Date,Rating,Label,Reviews,Sentiment,Features,length,...,content_similarity,ext_score,IRS_score,ARD_Score,RD_Score,Reviews_clean,Sentiment_class,length_clean,words_clean,pid_encoded
0,TH065EL1,Mudassar Farooq,3467,2016-05-20,4,1,nicer dicer acha chal raha hai salad bana ne k...,Positive,"['nicer', 'dicer', 'salad', 'bara', 'mufeed', ...",117,...,0.052054,1,1,0.111111,0.111111,nicer dicer acha salad bana bara mufed sabit d...,1.0,56,10,550
1,GA213HB1,Saniya Aslam,4888,2017-08-18,5,1,st time usay kia tha usay k baad skin soft ho ...,Positive,"['time', 'skin', 'soft', 'face', 'moisturize',...",341,...,0.035294,1,1,0.000000,0.000000,st time kia bad skin soft face moisturize loca...,1.0,209,35,178

##Features and label

In [ ]:
X_train=df_train.drop(columns=[ 'Sentiment_class', 'Label','Sentiment','Date', 'Reviews', 'Reviews_clean', 'Features', 'Product_ID',	'Customer_Name'], axis =1, inplace=False)
X_test=df_test.drop(columns=['Sentiment_class', 'Label','Sentiment','Date', 'Reviews', 'Reviews_clean', 'Features', 'Product_ID',	'Customer_Name'], axis =1, inplace=False)
y_train=df_train['Label']
y_test=df_test['Label']